<div style="margin-top: 8%; margin-left: 14%;" class="row d-flex justify-content-center align-items-center container">
    <div class="col-6">
        <img style="max-height: 400px;" [src]="book.image" alt="">
    </div>
    <div class="col-6">
        <h3>Book ID:&nbsp;&nbsp;&nbsp;<a style="color: rgb(97, 168, 148);"> {{book.id}} </a></h3>
        <br>
        <h1>Book Title: &nbsp;&nbsp;<a style="color:rgb(97, 168, 148);">{{book.title}}</a></h1>
        <br>
        <h2>Publisher: <p>{{book.name}}</p></h2>
        
        <h5>{{book.author}} </h5>
        
        <h3>Description : {{book.description}}</h3>
        <br>
        <h3> Price: $ {{book.price}}</h3>
       
        <h3> Category : {{book.category}}</h3>

    </div>
</div>