<app-header></app-header>
<div>
   <div class="d-flex justify-content-between container mt-5">
        <div class="d-flex">
            <form role="search" class="me-1">
              <input name="searchKey" [(ngModel)]="searchKey" class="form-control w-100" type="search"
               placeholder="Search title,category" aria-label="Search">
              <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" (click)="SortByTitle()">Sort By Title</a></li>
                <li><a class="dropdown-item" href="#" (click)="SortByID()">Sort By ID</a></li>
              </ul>
            </div>
     </div>
        <div><button routerLink="/add" class="btn btn-success" type="submit">Create</button></div>
   </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let item of allBooks | search : searchKey " class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" [src]="item.image" height="300px" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                               Book ID: {{item.id}} 
                               <br>
                                <h5 class="fw-bolder">{{item.title}}</h5>
                                <!-- Product price-->
                                 $ {{item.price}} <br><br>
                                Category:<b> {{item.category}}</b>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center d-flex justify-content-evenly">
                                <a routerLink="/{{item.id}}/read" class="btn btn-outline-success mt-auto">Read</a>
                                <a routerLink="/{{item.id}}/update" class="btn btn-outline-warning mt-auto" href="#">Update</a>
                                <a class="btn btn-outline-danger mt-auto" href="#" (click)="removeBook(item.id)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="row">
            <span *ngIf="(allBooks | search:searchKey).length==0" class="text-danger text-center fw-bolder">Book Not Found!!!</span>
            
            </div>
        </div>
    </section>
</div>